<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leitor de texto de imagens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-img src={{this.image}}></ion-img>
  <ion-button expand="full" (click)="recognizeImage()" [disabled]="!workerReady">Reconhecer foto</ion-button>
  <ion-button expand="full" (click)="captureImage()" [disabled]="!workerReady">Tirar foto</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Capture progress: {{captureProgress}}%
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar [value]="captureProgress"></ion-progress-bar>
    {{ ocrResult }}
    </ion-card-content>
  </ion-card>

</ion-content>
